@{ 
    Layout = "~/Views/Shared/_Index_Layout.cshtml";
}
<form name="myForm" action="../DataUpload/upload" method="post" enctype="multipart/form-data">
    <input id="file" type="file" name="file" />
    <input id="submit" type="submit" />
</form>

